.table-dark { 
    margin-top: 50px; 
   
} 
.intro-2 {
    background:url("/assets/images/backweb.png");
    background-size: cover;
  } 
  .view {
    height: 100vh !important;
  } 

  .mat-fab{  
      
    margin-left: 1330px;  
    margin-top: 100px;

}